* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h2 {
  text-align: center;
  font-size: 70px;
  margin-bottom: 50px;
}
.col-1 {
  border: 1px solid black;
  height: 93px;
}
.green {
  background: green;
}
.red {
  background: red;
}
.blue {
  background: blue;
}
.orange {
  background: orange;
}
.yellow {
  background: yellow;
}
footer {
  margin-top: 30px;
  font-size: 80%;
  font-style: italic;
  text-align: right;
}
